*.egg-info/
*.pyc
*.py[co]
*.swp
*.sqlite3
*.tmp
__pycache__
static_files/
.DS_Store
.idea/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
parts/
sdist/
var/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
cover/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
docs/_build/
target/
*.ropeproject
*.sublime-*
queue_spooler/.*
__pycache__/.*
.pytest_cache
.python-version
acessoBRL
*.ipynb
*.eggs/
/__pycache__/